/* All your custom styles go here. You can override the default Bootstrap styles or add your own custom styles for elements, classes, or IDs.  */

body {
    background-color: #4B9CD3;
    cursor:default;
}

li:hover {
    cursor: pointer;
}

a:link {
    color: #FFFFFF;
    text-decoration: none;
}

a:visited {
    color: #FFFFFF;
    text-decoration: none;
}

a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

a:active {
    color: #FFFFFF;
    text-decoration: none;
}

#title {
    color: #FFFFFF;
}

h2 {
    color: #FFFFFF;
}

ul li {
    background-color: #13294B;
    color: #FFFFFF;
    font-weight:bold;
    list-style: none;
}

p {
    color: #315057;
}

@media only screen and (min-width: 996px) {
    main article {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-content: center;
    }
}

html::-webkit-scrollbar {
    width: auto;
    background: white;
}

html::-webkit-scrollbar-button {
    display: none;
}

html::-webkit-scrollbar-thumb {
    background:#ffffff;
}

html::-webkit-scrollbar-track {
    background: #4B9CD3;
}