/* All your custom styles go here. You can override the default Bootstrap styles or add your own custom styles for elements, classes, or IDs.  */

body {
    display: flex;
    flex-flow: row wrap;
    justify-items: center;
    align-content: center;
    cursor:default;
    -webkit-user-select: none; /* Webkit */ 
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE 10 */
    /* Currently not supported in Opera but will be soon */
    -o-user-select: none;
    user-select: none;
    font-family: 'Abel', sans-serif;
}

li:hover {
    cursor: pointer;
}

a:link {
    color: #081710;
    text-decoration: none;
}

a:visited {
    color: #081710;
    text-decoration: none;
}

a:hover {
    color: #081710;
    cursor: pointer;
}

a:active {
    color: #081710;
    text-decoration: none;
}

section {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

ul {
    display: flex;
    flex-flow: row wrap;
    justify-items: center;
    align-items: space-around;
}

ul li {
    color: #081710;
    font-size: 0.9em;
    font-weight:bold;
    list-style: none;
    border-radius: 0.5em;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
}

ul li:hover {
    background-color: #e1ede7;
}

@media only screen and (max-width: 768px) {
    main {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        padding-top: 10vh;
        padding-bottom: 10vh;
    }
}

@media only screen and (min-width: 768px) {
    main article {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-content: space-between;
    }

    body {
        height: 100vh;
    }

    main {
        height: 45%;
        border-top: solid 1px black;
    }
}

html::-webkit-scrollbar {
    width: auto;
    background: white;
}

html::-webkit-scrollbar-button {
    display: none;
}

html::-webkit-scrollbar-thumb {
    background: #e1ede7;
}

html::-webkit-scrollbar-track {
    background: white;
}